@font-face {
  font-family: 'Avenir Next Cyr Regular';
  src: url("../fonts/AvenirNextCyr-Regular.eot");
  src: url("../fonts/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr Medium';
  src: url("../fonts/AvenirNextCyr-Medium.eot");
  src: url("../fonts/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Medium.woff") format("woff"), url("../fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Bold';
  src: url("../fonts/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

.button {
  -webkit-box-shadow: 0 12px 43px rgba(35, 220, 184, 0.31);
          box-shadow: 0 12px 43px rgba(35, 220, 184, 0.31);
  border-radius: 38px;
  border: none;
  background-color: #23dcb8;
  background-image: linear-gradient(-241deg, #48d7bb 0%, #0eb595 100%);
  font-size: 18px;
  font-weight: 500;
  line-height: 19px;
  text-transform: uppercase;
  text-shadow: 0 2px 21px rgba(239, 255, 252, 0.46);
  color: #ffffff;
  padding: 30px 58px;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
}

.button:hover {
  -webkit-box-shadow: 0 12px 43px 20px rgba(35, 220, 184, 0.31);
          box-shadow: 0 12px 43px 20px rgba(35, 220, 184, 0.31);
}

body {
  font-family: 'Avenir Next Cyr Medium';
  font-size: 20px;
  font-weight: 500;
  color: #212f3d;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #ffffff;
}

body::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #4ceecf;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-size: 26px;
  padding-right: 39px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.description {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  width: 100%;
  max-width: 135px;
  margin-left: 39px;
}

.contacts {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__tel a {
  color: #ffffff;
  line-height: 25px;
  text-align: center;
}

.contacts__social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 39px;
}

.contacts__social-networks a:not(:first-child) {
  margin-left: 27px;
}

.contacts__social-networks img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 25px;
  max-height: 25px;
}

.header {
  background: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 36px;
  padding-bottom: 239px;
  color: #fff;
  overflow: hidden;
}

.header-title {
  font-family: "Bebas Neue Bold";
  font-size: 100px;
  font-weight: 400;
  max-width: 641px;
  line-height: 100px;
  letter-spacing: 7.95px;
  margin-top: 229px;
}

.header-subtitle {
  font-size: 27px;
  margin-top: 40px;
}

.header-btn {
  margin-top: 84px;
}

.section-title {
  font-family: "Bebas Neue Bold";
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  padding-top: 120px;
  text-align: center;
}

.feachers {
  padding-bottom: 157px;
}

.feachers-item {
  max-height: 200px;
  width: 25%;
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feachers-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feachers-item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 90px;
  max-height: 90px;
}

.feachers-item__signature {
  margin-top: 50px;
  text-align: center;
  max-width: 205px;
  line-height: 30px;
  font-weight: 500;
}

.about {
  background-color: #f8fbfa;
}

.about-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.about-content {
  padding-left: calc(50% + 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.about-content__info {
  margin-top: 60px;
  line-height: 30px;
  max-width: 440px;
}

.about-content__btn {
  margin-top: 80px;
  padding: 28px 56px;
  color: #28c4a6;
  border: 2px solid #0eb595;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 134px;
}

.about-content__btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #ffffff;
  background-color: #23dcb8;
  background-image: linear-gradient(-241deg, #48d7bb 0%, #0eb595 100%);
  text-shadow: 0 2px 21px rgba(239, 255, 252, 0.46);
}

.about-content::after {
  position: absolute;
  content: '';
  top: -33px;
  left: -123px;
  width: 100%;
  height: 100%;
  max-width: 687px;
  max-height: 706px;
  background: url("../img/img-woman.png");
}

.feedback {
  padding-bottom: 100px;
}

.feedback-subtitle {
  margin-top: 45px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback-form {
  margin-top: 70px;
}

.feedback-form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.feedback-form__input input {
  width: 361px;
  height: 65px;
  border-radius: 11px;
  background-color: #eff4f3;
  padding: 26px;
  border: none;
  outline: none;
  font-size: 20px;
}

.feedback-form__input input::-webkit-input-placeholder {
  color: #6e837f;
  font-size: 16px;
  font-weight: 400;
}

.feedback-form__input input:-ms-input-placeholder {
  color: #6e837f;
  font-size: 16px;
  font-weight: 400;
}

.feedback-form__input input::-ms-input-placeholder {
  color: #6e837f;
  font-size: 16px;
  font-weight: 400;
}

.feedback-form__input input::placeholder {
  color: #6e837f;
  font-size: 16px;
  font-weight: 400;
}

.feedback-form__input input:first-child {
  margin-right: 30px;
}

.feedback-form__text {
  margin-top: 30px;
  text-align: center;
  color: #6e837f;
  font-size: 14px;
  font-weight: 400;
}

.feedback-form__text span {
  text-decoration: underline;
}

.feedback-form__btn {
  margin-top: 40px;
}

.footer {
  background-color: #132230;
  padding-top: 100px;
  padding-bottom: 40px;
  position: relative;
}

.footer::after {
  position: absolute;
  content: '';
  top: -2px;
  left: 0;
  width: 100%;
  height: 44px;
  background: url("../img/footer-top.png");
  background-size: cover;
  background-position: center;
}

.footer-wrap {
  background: url("../img/people.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-wrap__title {
  color: #fff;
  margin: 0;
  padding-top: 65px;
}

.footer-wrap__social {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-wrap__social_link {
  width: 80px;
  height: 80px;
  border: 2px solid #ffffff;
  background: transparent;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-wrap__social_link:not(:first-child) {
  margin-left: 60px;
}

.footer-wrap__bottom {
  opacity: 0.2;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1140px) {
  .about-inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-content {
    padding-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .about-content::after {
    display: none;
  }
  .feachers-item {
    width: 33.3%;
  }
}

@media screen and (max-width: 960px) {
  .header {
    background-position: left;
  }
  .header-title {
    margin: 229px auto 0 auto;
    text-align: center;
  }
  .header-subtitle {
    text-align: center;
  }
  .header-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  .contacts__social-networks {
    display: none;
  }
  .feachers-item__signature {
    font-size: 20px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 780px) {
  .feedback-form__input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feedback-form__input input {
    width: 90%;
  }
  .feedback-form__input input:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 680px) {
  .button {
    font-size: 16px;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts {
    display: none;
  }
  .header-title {
    letter-spacing: 7px;
    font-size: 90px;
    max-width: 100%;
    line-height: 90px;
  }
  .header-subtitle {
    font-size: 22px;
  }
  .feachers-item {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .header-title {
    font-size: 80px;
    line-height: 80px;
    margin-top: 100px;
  }
  .section-title {
    font-size: 45px;
    letter-spacing: 2px;
    margin-top: 100px;
  }
  .feedback-subtitle {
    font-size: 18px;
  }
  .feedback-subtitle p {
    max-width: 90%;
  }
  .footer-wrap {
    background: #132230;
    min-height: 100%;
  }
  .footer-wrap__title {
    padding-top: 0;
  }
  .footer-wrap__social {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer-wrap__social_link:not(:first-child) {
    margin-left: 0;
  }
  .footer-wrap__bottom {
    margin-top: 100px;
    font-size: 16px;
  }
}

@media screen and (max-width: 540px) {
  .button {
    font-size: 14px;
    padding: 25px 50px;
  }
  .logo {
    font-size: 20px;
  }
  .description {
    font-size: 14px;
  }
  .header-title {
    letter-spacing: 6px;
    margin-top: 200px;
    font-size: 60px;
    line-height: 60px;
  }
  .header-subtitle {
    font-size: 18px;
  }
  .section-title {
    font-size: 40px;
    letter-spacing: 0px;
    margin-top: 90px;
  }
  .about-content__info {
    font-size: 18px;
  }
  .footer-wrap__bottom {
    font-size: 14px;
  }
  .footer-wrap__social_link {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media screen and (max-width: 450px) {
  .button {
    font-size: 13px;
    padding: 20px 40px;
  }
  .logo {
    font-size: 18px;
  }
  .description {
    font-size: 12px;
  }
  .header-title {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 5px;
  }
  .header-subtitle {
    font-size: 18px;
  }
  .section-title {
    font-size: 35px;
  }
  .feachers-item__img {
    max-width: 80px;
    max-height: 80px;
  }
  .feachers-item__signature {
    font-size: 18px;
    margin-top: 35px;
  }
  .feedback-form__input input {
    width: 100%;
  }
  .footer-wrap__bottom {
    font-size: 12px;
  }
  .footer-wrap__social_link {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media screen and (max-width: 385px) {
  .logo {
    padding-right: 20px;
  }
  .description {
    margin-left: 20px;
  }
  .section-title {
    font-size: 30px;
  }
  .feachers-item {
    width: 100%;
  }
  .feachers-item__img {
    max-width: 70px;
    max-height: 70px;
  }
  .footer-wrap__bottom {
    font-size: 10px;
  }
  .footer-wrap__social_link {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media screen and (max-width: 350px) {
  .button {
    font-size: 12px;
    padding: 18px 40px;
  }
  .logo {
    font-size: 16px;
    padding-right: 15px;
  }
  .description {
    font-size: 10px;
    margin-left: 20px;
    margin-right: -40px;
  }
  .header-title {
    margin-top: 150px;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 4px;
  }
  .header-subtitle {
    font-size: 16px;
  }
  .footer-wrap__social_link {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}
/*# sourceMappingURL=style.css.map */